#red {
  border: 5px;
  border-style: solid;
  border-color: red;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  margin-right: 2em;
}

#blue {
  border: 5px;
  border-style: solid;
  border-color: blue;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  margin-right: 2em;
}

#yellow {
  border: 5px;
  border-style: solid;
  border-color: yellow;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}